 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 966px;
}

.u-section-1 .u-group-1 {
  width: 480px;
  min-height: 836px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px 30px 0;
}

.u-section-1 .u-text-1 {
  --text-color-var: #fcd304;
  margin: 128px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 50px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px auto 60px 535px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 367px;
  background-repeat: no-repeat;
  background-image: url("images/image.png");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 395px;
  background-repeat: no-repeat;
  background-image: url("images/image3.png");
  background-size: 155%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-position: 52.83% 71.63%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 384px;
  background-repeat: no-repeat;
  background-image: url("images/image2.png");
  background-size: cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-position: 23.28% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 378px;
  background-repeat: no-repeat;
  background-image: url("images/image1.png");
  background-size: cover;
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-1 .u-group-1 {
    min-height: 539px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 80px;
  }

  .u-section-1 .u-image-1 {
    min-height: 281px;
  }

  .u-section-1 .u-image-2 {
    min-height: 303px;
    background-size: auto 155%;
  }

  .u-section-1 .u-image-3 {
    min-height: 294px;
  }

  .u-section-1 .u-image-4 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 422px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 120px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-image-1 {
    min-height: 266px;
    background-position: 50% 0%;
  }

  .u-section-1 .u-image-2 {
    min-height: 286px;
  }

  .u-section-1 .u-image-3 {
    min-height: 278px;
  }

  .u-section-1 .u-image-4 {
    min-height: 274px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 76px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 217px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }
}